<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyy.dao.DjEachUrlMapper" >
  <resultMap id="BaseResultMap" type="com.tanyy.model.DjEachUrl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="total_id" property="totalId" jdbcType="INTEGER" />
    <result column="dj_type" property="djType" jdbcType="INTEGER" />
    <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="extract_time" property="extractTime" jdbcType="TIMESTAMP" />
    <result column="extract_count" property="extractCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, total_id, dj_type, page_url, create_time, extract_time, extract_count, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tanyy.model.DjEachUrlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from dj_each_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dj_each_url
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dj_each_url
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tanyy.model.DjEachUrlExample" >
    delete from dj_each_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tanyy.model.DjEachUrl" >
    insert into dj_each_url (id, total_id, dj_type, 
      page_url, create_time, extract_time, 
      extract_count, status)
    values (#{id,jdbcType=INTEGER}, #{totalId,jdbcType=INTEGER}, #{djType,jdbcType=INTEGER}, 
      #{pageUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{extractTime,jdbcType=TIMESTAMP}, 
      #{extractCount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tanyy.model.DjEachUrl" >
    insert into dj_each_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="totalId != null" >
        total_id,
      </if>
      <if test="djType != null" >
        dj_type,
      </if>
      <if test="pageUrl != null" >
        page_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="extractTime != null" >
        extract_time,
      </if>
      <if test="extractCount != null" >
        extract_count,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="totalId != null" >
        #{totalId,jdbcType=INTEGER},
      </if>
      <if test="djType != null" >
        #{djType,jdbcType=INTEGER},
      </if>
      <if test="pageUrl != null" >
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extractTime != null" >
        #{extractTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extractCount != null" >
        #{extractCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tanyy.model.DjEachUrlExample" resultType="java.lang.Integer" >
    select count(*) from dj_each_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dj_each_url
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.totalId != null" >
        total_id = #{record.totalId,jdbcType=INTEGER},
      </if>
      <if test="record.djType != null" >
        dj_type = #{record.djType,jdbcType=INTEGER},
      </if>
      <if test="record.pageUrl != null" >
        page_url = #{record.pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extractTime != null" >
        extract_time = #{record.extractTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extractCount != null" >
        extract_count = #{record.extractCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dj_each_url
    set id = #{record.id,jdbcType=INTEGER},
      total_id = #{record.totalId,jdbcType=INTEGER},
      dj_type = #{record.djType,jdbcType=INTEGER},
      page_url = #{record.pageUrl,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      extract_time = #{record.extractTime,jdbcType=TIMESTAMP},
      extract_count = #{record.extractCount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tanyy.model.DjEachUrl" >
    update dj_each_url
    <set >
      <if test="totalId != null" >
        total_id = #{totalId,jdbcType=INTEGER},
      </if>
      <if test="djType != null" >
        dj_type = #{djType,jdbcType=INTEGER},
      </if>
      <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extractTime != null" >
        extract_time = #{extractTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extractCount != null" >
        extract_count = #{extractCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tanyy.model.DjEachUrl" >
    update dj_each_url
    set total_id = #{totalId,jdbcType=INTEGER},
      dj_type = #{djType,jdbcType=INTEGER},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      extract_time = #{extractTime,jdbcType=TIMESTAMP},
      extract_count = #{extractCount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>